{% extends 'MEMORAeTextBundle::index.html.twig' %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{asset('JavaScript/home.js')}}"></script>
  {% endblock %}

{%if medias is defined %}
{% block InfoSection %} 
           <div class=" acceuilTextContent"> 
            {% for contenu in medias %} 
                <p>
                    {{contenu.content|raw }}
                   </p>
            {% endfor %} 
           </div>
            <div>
                <a href="" class="moreText">{{'see more'|trans}} &nbsp;<span class="glyphicon glyphicon-plus"></span></a>
				   	 
            </div>
        
 {% endblock %}
 {% block VideoSection %} 
     
         <div class="row">
				  <div class="col-xs-12 col-sm-12 col-md-12">
				    <div class="thumbnail">
				    	<video  src="{{asset('videos/'~ video.path)}}" controls ></video>
				      <div class="caption videoCaption">
				        <h4>{{video.name}}</h4>
				        <p>{{video.content|raw}}</p>
				        <p>
                                            <a href="{{path('memorae_homepage',{'id':4})}}">{{'see more'|trans}} &nbsp;<span class="glyphicon glyphicon-link"></span></a>
                                        </p>
				        
				      </div>
				    </div>
				   </div>

	</div> 
    
 {% endblock %}
 {%endif %}
