{% extends 'MEMORAeTextBundle::index.html.twig' %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{asset('JavaScript/home.js')}}"></script>
  {% endblock %}

{%if text is defined %}
{% block InfoSection %} 
    <div class="acceuilTextContent" id="acceuilTextContent">
        {{text.content|raw }}
    </div>
    <div>
        <a href="" class="moreText">{{'see more'|trans}} &nbsp;<span class="glyphicon glyphicon-plus"></span></a>
				   	 
    </div>
        
 {% endblock %}
 {% endif %}
 {%if video is defined %}
 {% block VideoSection %} 
     
         <div class="row" id="videos">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="thumbnail">
                    <iframe  src="{{video.path}}" ></iframe>
                <div class="caption videoCaption">
                    <h4>{{video.name}}</h4>
                    <p>{{video.content|raw}}</p>
                    <p>
                        <a href="{{path('memorae_homepage',{'id':4})}}">{{'see more'|trans}} &nbsp;<span class="glyphicon glyphicon-link"></span></a>
                    </p>

                </div>
              </div>
            </div>

	</div> 
    
 {% endblock %}
 {%endif %}
