{% extends 'MEMORAeTextBundle::layout.html.twig' %}

{%if home is defined %}
{% block InfoSection %} 
    
        
            {% for contenu in home %} 
                <p>
                   {{contenu.content }}
                   </p>
            {% endfor %} 
        
 {% endblock %}
 {% block VideoSection %} 
     
           <div>
		  <h2>Presentation</h2>
		  EMPLACEMENT DE VIDEO
             </div>
    
 {% endblock %}
 {%endif %}
 
  {% block QMemorae %} 
      {%if qMemorae is defined %}
          <div class="ui-accordion">
          <ul class="nav nav-tabs">
                 {% for contenu in qMemorae %} 
                     <li><a class="ui-accordion-header" data-target=".{{ contenu.id }}">{{ contenu.name }}</a></li>
                   {% endfor %} 	  
	  </ul>
          
	  <div class="tab-content">
            {% for contenu in qMemorae %}  
	    <div class="{{ contenu.id }} ui-accordion-content">
	      <p>{{ contenu.content }}</p>
	    </div>
            {% endfor %}
	  </div>
	</div>
        {%endif %}
   {% endblock %}
      
   
   {% block Document %}
       onglet document
   {% endblock %}
   {% block Video %}
       onglet Video
   {% endblock %}
    

{% block Rd %}
    onglet R&D
   {% endblock %}