{% extends 'MEMORAeTextBundle::index.html.twig' %}
 
{% block javascripts %}
     {{ parent()}}
     {% if publication is defined %}
     <script src="{{asset('JavaScript/publication.js')}}"></script>
     {% else %}
     <script src="{{asset('JavaScript/recherche.js')}}"></script>
     {% endif %}
{% endblock %}
{#{% set blockName =  publication is defined ? 'Publication': 'Recherche' %}#}
     {% if publication is defined %}
        {% block  Publication %}
        
	<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                {% for section in recherche %}
                    {% for projet in section.medias %}
                        <div class="thumbnail blockImageTexte">
                            <a href="{{asset('uploads/documents/' ~ projet.path)}}" target="_blank">
                                <img src="{{asset('images/default.png')}}" alt="Generic placeholder thumbnail" class=" pull-left img-rounded"/>
                            </a>
                            <div class="caption">
                                <h4>{{projet.name}}</h4>
                                <p>{{projet.content|raw}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                                      
            </div>   
        </div> 

      {% endblock %}
      {% else %}
          {% block  Recherche %}
              <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                {% for section in recherche %}
                    {% for projet in section.medias %}
                        <div class="thumbnail blockImageTexte">
                            <a href="{{asset('uploads/documents/' ~ projet.path)}}" target="_blank">
                                <img src="{{asset('images/default.png')}}" alt="Generic placeholder thumbnail" class=" pull-left img-rounded"/>
                            </a>
                            <div class="caption">
                                <h4>{{projet.name}}</h4>
                                <p>{{projet.content|raw}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                                      
            </div>   
        </div> 
        {% endblock %}
     {% endif %} 
