{% extends 'MEMORAeTextBundle::index.html.twig' %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{asset('JavaScript/video.js')}}"></script>
  {% endblock %}

{%if video is defined %}
 {% block Video %}
       
   <div class="row">
       
       {% for contenu in video %}
            <div class="col-xs-4 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <video  src="{{asset('videos/'~ contenu.path)}}" controls ></video>
                    <div class="caption videoCaption">
                        <h4>{{contenu.name}}</h4>
                        <p>{{contenu.content}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}		
        </div>
    
 {% endblock %}
 {% endif %}
 

