{% extends 'MEMORAeTextBundle::index.html.twig' %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{asset('JavaScript/video.js')}}"></script>
  {% endblock %}

{%if video is defined %}
 {% block Video %}
       
   <div class="row" id="videos">
       
       {% for contenu in video %}
           {% if contenu.path != null %}
                <div class="col-xs-4 col-sm-4 col-md-3">
                        <div class="thumbnail">
                            <iframe src="{{contenu.path}}"></iframe>
                            <div class="caption videoCaption">
                                <h4>{{contenu.name}}</h4>
                                <p>{{contenu.content|raw}}</p>
                            </div>
                        </div>  
                </div>
            {% endif %}
        {% endfor %}		
        </div>
    
 {% endblock %}
 {% endif %}
 

