{% extends 'MEMORAeTextBundle::index.html.twig' %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{asset('JavaScript/plugins/accordion.js')}}"></script>
    <script src="{{asset('JavaScript/whatIsMemorae.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="{{asset('css/accordion.css')}}"/>
{% endblock %}

{%if sections is defined %}
    {% block QMemorae %}
        <div id="videos" class="accordion ui-widget ui-helper-reset">
            {% for section in sections %}
                <artical class="ac-panel">
                    <header class="ac-header ui-helper-reset ui-state-default">{{section.name}}</header>
                    <section class="ac-content ui-helper-reset ui-widget-content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="thumbnail blockVideo">
                                    {%for media in section.medias %}
                                        <iframe src="{{media.path}}"></iframe>
                                         <div class="caption">
                                             <h4>{{media.name|raw}}</h4>
                                             <p>{{media.content|raw}}</p>
                                         </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </section>
                </artical>
            {% endfor %}
        </div>
    {% endblock %}
{%endif %}
