{% extends 'MEMORAeTextBundle::index.html.twig' %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{asset('JavaScript/plugins/accordion.js')}}"></script>
    <script src="{{asset('JavaScript/whatIsMemorae.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="{{asset('css/accordion.css')}}"/>
{% endblock %}

{%if sections is defined %}
    {% block QMemorae %}
        <div id="videos" class="accordion ui-widget ui-helper-reset">
            {% for section in sections %}
                <artical class="ac-panel">
                    <header class="ac-header ui-helper-reset ui-state-default">{{section.name}}</header>
                    <section class="ac-content ui-helper-reset ui-widget-content">
                        <div class="row accordionContent">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                
                                    {%for media in section.medias %}
                                        {% if media.path != null %}
                                            <div class="thumbnail blockVideo">
                                            <iframe class="pull-left" src="{{media.path}}"></iframe>
                                            <div class="caption">
                                                <h4>{{media.name|raw}}</h4>
                                                <p>{{media.content|raw}}</p>
                                            </div>
                                            </div>
                                        {% else %}
                                            <div class="thumbnail blockImageTexte">
                                                    <img src="{{asset('images/construction.png')}}" class=" pull-left img-rounded"
                                                     alt="Generic placeholder thumbnail">
                                                    <div class="caption">
                                                        <h4>{{media.name}}</h4>
                                                        <p>{{media.content|raw}}</p>
                                                    </div>
                                            </div>
                                        {% endif %}                        
                                        
                                        
                                    {%endfor%}
                                
                            </div>
                        </div>
                    </section>
                </artical>
            {% endfor %}
        </div>
    {% endblock %}
{%endif %}
