{% extends 'MEMORAeTextBundle::index.html.twig' %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{asset('JavaScript/plugins/accordion.js')}}"></script>
    <script src="{{asset('JavaScript/whatIsMemorae.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="{{asset('css/accordion.css')}}"/>
{% endblock %}

{%if wim is defined %}
    {% block QMemorae %}
        <div id="wimAccordion" class="accordion ui-widget ui-helper-reset">
            {% for contenu in wim %}
                <artical class="ac-panel">
                    <header class="ac-header ui-helper-reset ui-state-default">{{contenu.name}}</header>
                    <section class="ac-content ui-helper-reset ui-widget-content">
                        <p>{{contenu.content}}</p>
                    </section>
                </artical>
            {% endfor %}
        </div>
    {% endblock %}
{%endif %}
