<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
        <title>{% block title %}MEMORAe{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
   
            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="{{asset('css/memorae.css')}}" />
            <link rel="stylesheet" href="{{asset('css/carousel.css')}}" />
            <link rel="stylesheet"href="{{asset('css/floatingSocialBar.css')}}" />
            <link rel="stylesheet" href="{{asset('css/sideBar.css')}}"/>
             <link rel="stylesheet" href="{{asset('css/typeahead.min.css')}}"/>
        {% endblock %}
        {% block javascripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
             <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
            <script src="{{asset('JavaScript/plugins/jssor.slider.mini.js')}}"></script>
            <script src="{{asset('JavaScript/plugins/typeahead.js')}}"></script>
            <script src="{{asset('JavaScript/plugins/jquery.sidebar.js')}}"></script>
            <script src="{{asset('JavaScript/plugins/floatingSocialBar.js')}}"></script>
            <script src="{{asset('JavaScript/index.js')}}"></script>
        {% endblock %}
       
    </head>
    <body>
     
       <div id="corps">
           
   		<div class="header">
                    <div class="panelHeader">
  			<div class="memoraeHeader">
   
				<ul class="nav nav-pills " role="tablist">
					<li class="logo"><img  src="{{asset('images/memorae.png')}}" alt="logo memorae"></li>
                                        <li class="langue"> 
                                            <a  href="#" >
                                                {% if app.request.locale=='fr' %}
                                                <img class="langueActive" src="{{asset('images/fr.png')}}" alt="logo fr">
                                                {% else %}
                                                     <img  src="{{asset('images/fr.png')}}" alt="logo fr">
                                                {% endif %}
                                            </a>
                                        </li>
                                                
                                        <li class="langue"> 
                                            <a  href="#" >
                                                {% if app.request.locale=='gb' %}
                                                <img class="langueActive" src="{{asset('images/fr.png')}}" alt="logo fr">
                                                {% else %}
                                                     <img  src="{{asset('images/gb.png')}}" alt="logo gb">
                                                {% endif %}
                                            </a>
                                        </li>
					<li class="title"><h1> MEMORAe</h1></li>
                                        <li  class="headerRight"><a href="#"><img src="{{asset('images/logo_cnrs.jpg')}}" alt="logo cnrs"></a></li>
                                        <li  class="headerRight"><a href="#"><img src="{{asset('images/logo_Heudiasyc.jpg')}}" alt="logo Heudiasyc"></a></li>
                                        <li  class="headerRight"><a href="#"><img src="{{asset('images/logo_utc.png')}}" alt="logo UTC"></a></li>
				</ul>
                                
                               {# <div class="langue">
                                  <a  href="http://www.w3schools.com/cssref/pr_class_cursor.asp" ><img src="{{asset('images/fr.png')}}" alt="logo fr"></a>
                                    <a  href="http://www.w3schools.com/cssref/pr_class_cursor.asp"><img src="{{asset('images/gb.png')}}" alt="logo gb"></a>
                               
                                </div>#}
		  	</div>
                    </div>
                    {% if carousel is defined %}
                    <div id="carousel" >
    <!-- Slides Container -->
                        <div u="slides" class="slides" >
                            {% for img in carousel %}
                                <div><img u="image" src="{{asset('images/carousel/'~img.path)}}" alt="image carousel"></div> 
                            {% endfor %}
                        </div>
		  
    
        <!-- bullet navigator container -->
                        <div u="navigator" class="jssorb05">
                            <!-- bullet navigator item prototype -->
                            <div u="prototype"></div>
                        </div>
                        <!--#endregion Bullet Navigator Skin End -->

                        <a style="display: none" href="http://www.jssor.com">Image Slider</a>
                    </div>
                    {% endif %}
                </div>



		<div class="menu">
			<nav class="navbar navbar-default navbar-fixed">
				  <div class="container-fluid">
				    <ul class="nav navbar-nav">
				      <li role="presentation" class="acceuil active" > <a href="{{path('memorae_homepage',{'id':1})}}" ><span class="glyphicon glyphicon-home"></span>&nbsp;{{'Home'|trans}}</a> 
				      </li>
				      <li role="presentation" class="wim"> <a href="{{path('memorae_homepage',{'id':2})}}" ><span class="glyphicon glyphicon-folder-open"></span>&nbsp;{{'What is MEMORAe?'|trans}}</a>
				       </li>
				      <li role="presentation" class="dropdown documentation" > 
                                            <a data-toggle="dropdown"  href="#">{{'Documentation'|trans}}<b class="caret"></b></a>
                                            <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu3">
                                              <li role="presentation"><a  role="menuitem" tabindex="-1" href="{{path('memorae_homepage',{'id':4})}}" ><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;{{'Videos'|trans}}</a></li>
                                              <li role="presentation"><a  role="menuitem" tabindex="-1"  href="{{path('memorae_homepage',{'id':3})}}" ><span class="glyphicon glyphicon-file"></span>&nbsp;{{'Documents'|trans}}</a></li>
                                              
                                            </ul>
                                      </li>
				      <li role="presentation" class="dropdown rd" > 
                                            <a data-toggle="dropdown" href="#">{{'R&D'|trans}}<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{path('memorae_homepage',{'id':5})}}" >&nbsp;{{'Reasearch Projects' |trans}}</a></li>
                                                <li><a href="{{path('memorae_homepage',{'id':6})}}" >&nbsp;{{'Thesis'|trans}}</a></li>
                                            </ul>                  
                                      </li>
                                       <li class="publication"><a href="{{path('memorae_homepage',{'id':7})}}" >&nbsp;{{'Publications'|trans}}</a></li>
				    </ul>
				  </div>
			</nav>
		
                    <div class="tab-content content">
                        {% block body %}
                        {% endblock %}
                    </div>
                
        </div>
           
   <footer id="footer">
	<div class="container">
		<div class="infoGenerale">
			<h5> {{'Information'|trans}}</h5><br/>
			<div>
			Marie-Hélène Abel Associate professor<br/>
			Joint Laboratory HEUDIASYC<br/>

			Université de Technologie de compiègne<br/>
			Centre de Recherche de Royallieu<br/>
			 BP 20529     60205 Compiégne
			</div>
		</div>
		<div class="contactExterne">
			<h5>{{'Find us on'|trans}} </h5>
                   <ul>
                    <li><a href="#"><img src="{{asset('images/twitter.png')}}" alt="logo twitter">&nbsp;&nbsp;twitter</a></li><br/>
                    <li><a href="#"><img src="{{asset('images/blog.png')}}" alt="logo facebook">&nbsp;&nbsp;Mon blog</a></li><br/>
                     <li role="presentation"><a role="menuitem" tabindex="-2" href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;{{'Sign in'|trans}}</a></li>
                 </ul>
		</div>
	</div>
      </footer>
    </div>
    </body>
</html>
