{% block body -%}
{#    {{ form_start(edit_form) }}

    <div>
        {{ form_label(edit_form.name, 'Titre de la section') }}
        {{ form_errors(edit_form.name) }}
        {{ form_widget(edit_form.name) }}
    </div>

    {% for media in edit_form.medias %}
        {{form(media)}}
        
    {% endfor %}
    {{ form_end(edit_form) }}#}
{{form(edit_form)}}
    <ul class="record_actions">
    <li>
        <a href="{{ path('accueil_admin') }}">
            {{'Back to the list'|trans}}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
