{% extends '::base.html.twig' %}

{% block stylesheets %}
     {{ parent()}}
      <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
  {% endblock %}
{% block javascripts %}
     {{ parent()}}
     <script src="{{asset('JavaScript/admin.js')}}"></script>
  {% endblock %}
  
{% block Corps %}
    <br/>
    <div class="col-sm-1">
      <a href="{{ path('accueil_admin') }}">
            <button type="button" class="btn btn-primary"  aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  {{'Back'|trans}}</button>
     </a>
    </div>
    
        {{form(edit_form)}}
    
{% endblock %}
