<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{#<script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>#}
{#<script src="{{asset('JavaScript/adminWim.js')}}"></script>#}
{% block body -%}

    {{form(form)}}
  {#  {{ form_start(form) }}

    <div>
        {{ form_label(form.name, 'Titre de la section') }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    {% for media in form.medias %}
        {{form(media)}}
        
    {% endfor %}
    <div>
    {{form_widget(form.submit)}}
    </div>
    {{ form_end(form) }}
{#{{form_widget(form)}}#}
        <ul class="record_actions">
    <li>
        <a href="{{ path('accueil_admin') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
