{% block body -%}

    {{form(form)}}
    {#{{ form_start(form) }}

    <div>
        {{ form_label(form.name, 'Titre de la section') }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    {% for media in form.medias %}
        {{form(media)}}
        
    {% endfor %}
    <div>
    {{form_row(form.submit)}}#}
{#        <button type="submit">{{'Create'|trans}}</button>#}
{#    </div>#}
{#    {{ form_end(form) }}#}
    <ul class="record_actions">
    <li>
        <a href="{{ path('accueil_admin') }}">
            {{'Back'|trans}}
        </a>
    </li>
</ul>
{% endblock %}
