<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{{'Administrate'|trans}}</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
    <h1 class="lists">{{'Banner'|trans}}</h1>
    <table class="records_list">
        {% if pages.banniere != null %}
        <thead>
            <tr>
                <th>{{'Name'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for media in pages.banniere %}
            <tr>
                {% if media is defined and media != null %}
                    <td>{{ media.name }}</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('media_delete', { 'id': media.id}) }}">{{'Delete'|trans}}</a>
                        </li>
                    </ul>
                </td>            
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <ul>
                <li>
                    <a href="{{ path('media_new', {'type':'img', 'page':100}) }}">
                        {{'Add a new image'|trans}}
                    </a>
                </li>
            </ul>
        </tfoot>
                    {% endif %}
    </table>
</body>
</html>