{% extends '::base.html.twig' %}

{% block stylesheets %}
     {{ parent()}}
      <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
  {% endblock %}
{% block javascripts %}
     {{ parent()}}
     <script src="{{asset('JavaScript/admin.js')}}"></script>
  {% endblock %}
  
  
{% block Corps %}
    {% block PanelHeader %} 
        {{ parent()}}
        <br/>
        <div id="infoError"></div>
        <br/> <br/> 
     
     <div class="panel panel-default pageBlock">
	<div class="panel-heading">
           <h1 class="panel-title" >{{'Home'|trans}}</h1>
           
        </div>
    <div class="panel-body">    
        
        <table class="table  table-bordered " >
            {%if pages.home != null %}
                <thead>
                    <tr>
                        <th data-field="Numero">{{'Number'|trans}}</th>
                        
                        <th>{{'Content'|trans}}</th>
                        <th>{{'Type'|trans}}</th>
                        <th class="cle">cle</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for media in pages.home %}
                            <tr>
                                {% if media is defined and media != null %}
                                    <td>{{loop.index}}</td>
                                    <td class="redText">{{media.content|raw}}</td>
                                    <td>{{ media.type }}</td>
                                     <td class="cle" typeBlock="media">{{ media.id}}</td>
                                   
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </tbody>
                {%endif %}
            </table>
    </div> 
   </div>
           {#**************  Page what is Memeorae ********************#}
         <br/> <br/> 
        
     <div class="panel panel-default pageBlock">
	<div class="panel-heading">
           <h1 class="panel-title" >{{'What is MEMORAe?'|trans}}</h1>
           
        </div>
    <div class="panel-body">    
        
        <table class="table  table-bordered " link="section/video-2/new" >
             
            <thead>
                <tr>
                        <th data-field="Numero">{{'Number'|trans}}</th>
                         <th data-field="Name">{{'Name'|trans}}</th>
                         <th data-field="language">{{'Language'|trans}}</th>
                       
                        <th data-field="cle" class="cle">cle</th>
                </tr>
                </thead>
                {% if pages.wim != null %}
                    <tbody>
                          {% for section in pages.wim %}
                            <tr>
                                    <td >{{loop.index}}</td>
                                     <td>{{ section.name }}</td>
                                      <td>{{ section.language}}</td>
                                   
                                     <td class="cle" typeBlock="section">{{section.id}}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                {%endif %}
            </table>
    </div> 
   </div>   

            {#**************  Page Documents ********************#}
    <br/> <br/> 
        
     <div class="panel panel-default pageBlock">
	<div class="panel-heading">
           <h1 class="panel-title" >{{'Documents'|trans}}</h1>
           
        </div>
    <div class="panel-body">    
        
        <table class="table  table-bordered " link="media/file-3/new">
             
            <thead>
                <tr>
                        <th data-field="Numero">{{'Number'|trans}}</th>
                         <th data-field="Name">{{'Name'|trans}}</th>
                        
                         <th data-field="Summary">{{'Summary'|trans}}</th>
                          <th data-field="Path">{{'Path'|trans}}</th>
                      
                        <th data-field="cle" class="cle">cle</th>
                </tr>
                </thead>
                {% if pages.doc != null %}
                    <tbody>
                           {% for media in pages.doc %}
                            <tr>
                                    <td >{{loop.index}}</td>
                                     <td>{{media.name }}</td>
                                      
                                       <td class="redText">{{ media.content|raw }}</td>
                                       <td>{{media.path}}</td>
                                     <td class="cle" typeBlock="media">{{media.id}}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                {%endif %}
            </table>
    </div> 
   </div>   

       {#**************  Page Videos ********************#}    
        <br/> <br/> 
        
     <div class="panel panel-default pageBlock">
	<div class="panel-heading">
           <h1 class="panel-title" >{{'Videos'|trans}}</h1>
           
        </div>
    <div class="panel-body">    
        
        <table class="table  table-bordered " link="media/video-4/new">
             
            <thead>
                <tr>
                        <th data-field="Numero">{{'Number'|trans}}</th>
                         <th data-field="Name">{{'Title'|trans}}</th>
                        
                         <th data-field="Summary">{{'Description'|trans}}</th>
                          <th data-field="Path">{{'Path'|trans}}</th>
                      
                        <th data-field="cle" class="cle">cle</th>
                </tr>
                </thead>
                {% if pages.video != null %}
                    <tbody>
                           {% for media in pages.video %}
                            <tr>
                                    <td >{{loop.index}}</td>
                                     <td>{{media.name }}</td>
                                      
                                       <td class="redText">{{ media.content|raw }}</td>
                                       <td>{{media.path}}</td>
                                     <td class="cle" typeBlock="media">{{media.id}}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                {%endif %}
            </table>
    </div> 
   </div>       
       
    {#**************  Research Projects ********************#}    
    
    <br/> <br/> 
        
     <div class="panel panel-default pageBlock">
	<div class="panel-heading">
           <h1 >{{'Research projects'|trans}}</h1>
        </div>
    <div class="panel-body">    
        
        <table class="table  table-bordered " link="media/file-5/new">
            
             <thead>
                <tr>
                        <th data-field="Numero">{{'Number'|trans}}</th>
                         <th data-field="Name">{{'Title'|trans}}</th>
                        
                         <th data-field="Summary">{{'Summary'|trans}}</th>
                          <th data-field="Path">{{'Path'|trans}}</th>
                           <th>{{'Project category'|trans}}</th>
                        <th data-field="cle" class="cle">cle</th>
                </tr>
                </thead>
                {% if pages.projets != null and pages.projets.sections != null %}
                    <tbody>
                              {% for section in pages.projets.sections %}
                             {%for media in section.medias%}
                            <tr>
                                {% if media is defined and media != null %}

                                    <td >{{loop.index}}</td>
                                     <td>{{media.name }}</td>
                                      
                                       <td class="redText">{{media.content|raw }}</td>
                                       <td>{{media.path}}</td>
                                       <td>{{section.name}}</td>
                                     <td class="cle" typeBlock="media">{{media.id}}</td>
                            {% endif %}
                                </tr>
                        {% endfor %}
                        {% endfor %}

                    </tbody>
                {%endif %}
            </table>
    </div> 
   </div>       
    
    
    {#**************  Thesis ********************#}    
     <br/> <br/> 
        
     <div class="panel panel-default pageBlock">
	<div class="panel-heading">
           <h1 >{{'Thesis'|trans}}</h1>
        </div>
    <div class="panel-body">    
        
        <table class="table  table-bordered " link="media/file-6/new">
            
        <thead>
            <tr>
                        <th data-field="Numero">{{'Number'|trans}}</th>
                         <th data-field="Name">{{'Title'|trans}}</th>
                        
                         <th data-field="Summary">{{'Summary'|trans}}</th>
                          <th data-field="Path">{{'Path'|trans}}</th>
                           <th>{{'Thesis category'|trans}}</th>
                        <th data-field="cle" class="cle">cle</th>
                </tr>
                </thead>
                {% if pages.theses != null and pages.theses.sections != null %}
                    <tbody>
                                {% for section in pages.theses.sections %}
                             {%for media in section.medias%}
                            <tr>
                                {% if media is defined and media != null %}

                                    <td >{{loop.index}}</td>
                                     <td>{{media.name }}</td>
                                      
                                       <td class="redText">{{media.content|raw }}</td>
                                       <td>{{media.path}}</td>
                                       <td>{{section.name}}</td>
                                     <td class="cle" typeBlock="media">{{media.id}}</td>
                            {% endif %}
                                </tr>
                        {% endfor %}
                        {% endfor %}

                    </tbody>
                {%endif %}
            </table>
    </div> 
   </div>       
    

    
    {#**************  Publications ********************#} 
    
    <br/> <br/> 
        
     <div class="panel panel-default pageBlock">
	<div class="panel-heading">
           <h1 >{{'Publications'|trans}}</h1>
        </div>
    <div class="panel-body">    
        
        <table class="table  table-bordered " link="media/file-7/new">
            
             <thead>
                <tr>
                        <th data-field="Numero">{{'Number'|trans}}</th>
                         <th data-field="Name">{{'Title'|trans}}</th>
                        
                         <th data-field="Summary">{{'Summary'|trans}}</th>
                          <th data-field="Path">{{'Path'|trans}}</th>
                           <th>{{'Publication category'|trans}}</th>
                        <th data-field="cle" class="cle">cle</th>
                </tr>
                </thead>
                {% if pages.publications != null and pages.publications.sections != null %}
                    <tbody>
                             {% for section in pages.publications.sections %}
                                 {%for media in section.medias%}
                            <tr>
                                {% if media is defined and media != null %}

                                    <td >{{loop.index}}</td>
                                     <td>{{media.name }}</td>
                                      
                                       <td class="redText">{{media.content|raw }}</td>
                                       <td>{{media.path}}</td>
                                       <td>{{section.name}}</td>
                                     <td class="cle" typeBlock="media">{{media.id}}</td>
                            {% endif %}
                                </tr>
                        {% endfor %}
                        {% endfor %}

                    </tbody>
                {%endif %}
            </table>
    </div> 
   </div>       
    
            
            {#Gestion de la bannière défilante#}
        
             <div class="panel panel-default pageBlock">
	<div class="panel-heading">
           <h1 class="panel-title" >{{'Banner'|trans}}</h1>
           
        </div>
    <div class="panel-body">    
        
        <table class="table  table-bordered " link="media/img-100/new">
            {%if pages.banniere != null %}
                <thead>
                    <tr>
                        <th data-field="Numero">{{'Number'|trans}}</th>
                        <th>{{'Name'|trans}}</th>
                        <th class="cle">cle</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for media in pages.banniere %}
                            <tr>
                                {% if media is defined and media != null %}
                                    <td>{{loop.index}}</td>
                                    <td class="redText">{{media.name}}</td>
                                     <td class="cle" typeBlock="media">{{ media.id}}</td>
                                   
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </tbody>
                {%endif %}
            </table>
    </div> 
   </div>
    {% endblock %}
    {% endblock %}
