<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{{'Administrate'|trans}}</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>

<h1 class="lists">{{'Home'|trans}}</h1>
<table class="records_list">
    {%if pages.home!=null %}
        <thead>
            <tr>
                <th>{{'Name'|trans}}</th>
                <th>{{'Path'|trans}}</th>
                <th>{{'Content'|trans}}</th>
                <th>{{'Type'|trans}}</th>
            </tr>
        </thead>
            <tbody>
                {% for media in pages.home %}
                    <tr>
                        {%include 'MEMORAeTextBundle:Admin:printMedia.html.twig' with{'media':media} %}
                        {% if media is defined and media != null %}
                            <td>{{ media.type }}</td>
                            <td>
                            <ul>
                                <li>
                                    <a href="{{ path('media_edit', { 'id': media.id}) }}">{{'edit'|trans}}</a>
                                </li>
                            </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
        
            </tbody>
        {%endif %}
    </table>
        
    <h1 class="lists">{{'What is MEMORAe?'|trans}}</h1>
    <table class="records_list">
        {% if pages.wim != null %}
        <thead>
            <tr>
                <th>{{'Name'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            
        {% for section in pages.wim %}
            <tr>
                <td>{{ section.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('section_edit', { 'id': section.id}) }}">{{'edit'|trans}}</a>
                        </li>
                    </ul>
                </td>            
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <ul>
                <li>
                    <a href="{{ path('section_new', {'type':'video', 'page':2} ) }}">
                        {{'Create a new section'|trans}}
                    </a>
                </li>
            </ul>
        </tfoot>
        {% endif %}
    </table>

    <h1 class="lists">{{'Documents'|trans}}</h1>
    <table class="records_list">
        {% if pages.doc != null %}
        <thead>
            <tr>
                <th>{{'Name'|trans}}</th>
                <th>{{'Path'|trans}}</th>
                <th>{{'Summary'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for media in pages.doc %}
            <tr>
                {%include 'MEMORAeTextBundle:Admin:printMedia.html.twig' with{'media':media} %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('media_edit', { 'id': media.id}) }}">{{'edit'|trans}}</a>
                        </li>
                    </ul>
                </td>            
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <ul>
                <li>
                    <a href="{{ path('media_new', {'type':'file', 'page':3}) }}">
                        {{'Add a document'|trans}}
                    </a>
                </li>
            </ul>
        </tfoot>
                    {% endif %}
    </table>
    
    <h1 class="lists">{{'Videos'|trans}}</h1>
    <table class="records_list">
        {% if pages.video != null %}
        <thead>
            <tr>
                <th>{{'Title'|trans}}</th>
                <th>{{'Path'|trans}}</th>
                <th>{{'Description'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for media in pages.video %}
            <tr>
                {%include 'MEMORAeTextBundle:Admin:printMedia.html.twig' with{'media':media} %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('media_edit', { 'id': media.id}) }}">{{'edit'|trans}}</a>
                        </li>
                    </ul>
                </td>            
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <ul>
                <li>
                    <a href="{{ path('media_new', {'type':'video', 'page':4}) }}">
                        {{'Add a video'|trans}}
                    </a>
                </li>
            </ul>
        </tfoot>
                    {% endif %}
    </table>
    
    <h1 class="lists">{{'Research projects'|trans}}</h1>
    <table class="records_list">
        {% if pages.projets != null and pages.projets.sections != null %}
        <thead>
            <tr>
                <th>{{'Title'|trans}}</th>
                <th>{{'Path'|trans}}</th>
                <th>{{'Summary'|trans}}</th>
                <th>{{'Project category'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for section in pages.projets.sections %}
            {%include 'MEMORAeTextBundle:Admin:printSection.html.twig' with{'section':section} %}
        {% endfor %}
        </tbody>
        <tfoot>
            <ul>
                <li>
                    <a href="{{ path('media_new', {'type':'file', 'page':5}) }}">
                        {{'Add a project'|trans}}
                    </a>
                </li>
            </ul>
        </tfoot>
                    {% endif %}
    </table>
                    
    <h1 class="lists">{{'Thesis'|trans}}</h1>
    <table class="records_list">
        {% if pages.theses != null and pages.theses.sections != null %}
        <thead>
            <tr>
                <th>{{'Title'|trans}}</th>
                <th>{{'Path'|trans}}</th>
                <th>{{'Summary'|trans}}</th>
                <th>{{'Thesis category'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for section in pages.theses.sections %}
            {%include 'MEMORAeTextBundle:Admin:printSection.html.twig' with{'section':section} %}
        {% endfor %}
        </tbody>
        <tfoot>
            <ul>
                <li>
                    <a href="{{ path('media_new', {'type':'file', 'page':6}) }}">
                        {{'Add a thesis'|trans}}
                    </a>
                </li>
            </ul>
        </tfoot>
                    {% endif %}
    </table>     

    <h1 class="lists">{{'Publications'|trans}}</h1>
    <table class="records_list">
        {% if pages.publications != null and pages.publications.sections != null %}
        <thead>
            <tr>
                <th>{{'Title'|trans}}</th>
                <th>{{'Path'|trans}}</th>
                <th>{{'Summary'|trans}}</th>
                <th>{{'Publication type'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for section in pages.publications.sections %}
            {%include 'MEMORAeTextBundle:Admin:printSection.html.twig' with{'section':section} %}
        {% endfor %}
        </tbody>
        <tfoot>
            <ul>
                <li>
                    <a href="{{ path('media_new', {'type':'file', 'page':7}) }}">
                        {{'Add a publication'|trans}}
                    </a>
                </li>
            </ul>
        </tfoot>
                    {% endif %}
    </table>  
</body>
</html>